@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;800&display=swap');

$header-box-shadow: 0 2px 3px #ccc;
$header-text: 'Nanum Gothic', sans-serif;

$btn-background: rgb(236, 233, 233);             // Button color
$btn-background-hover: rgb(180, 180, 180);       // Button color when mouse is hovering the button
$button-color: rgb(59, 59, 59);                  // The text color of the button