@import './config/var';

.App {
  text-align: center;
  width: 40%;
  margin: 0 auto;
  font-size: 2vw;  
}

button {
  width: 95%;
  margin: 1rem auto;
  height: 2vw;
  text-align: center;
  @include button-color;

  &:hover {
    background: $btn-background-hover;
  }
}

h1 {
  @include primary-box;
}