.App {
  text-align: center;
  width: 40%;
  margin: 0 auto;
  
}

button {
  width: 95%;
  margin: 1rem auto;
  height: 2vw;
  background: rgb(236, 233, 233);
  text-align: center;
  font-size: 1vw;
  font-weight: bold;
  color:rgb(59, 59, 59);
  
}

button:hover {
  background: rgb(180, 180, 180);
}

h1 {
  font-size: 3em;
  text-shadow: 0 2px 3px #ccc;
}