@import '../config/var';

.Input {
    text-align: center;
}

.Input label {
    margin-right: 50%;
}

.Input input {
    width: 95%;
    font-size: 1.5vw;
    height: 2vw;
    border-radius: .5rem;
}

.Input input[type=submit] {
    width: 96%;
}