.Input {
    text-align: center;
    margin: 1rem auto;
    font-size: 1rem;
}

.Input label {
    font-size: 2vw;
    margin-right: 73%;
}

.Input input {
    width: 95%;
    height: 2vw;
    border-radius: .5rem;
}