@import '../config/var';

.Input {
    text-align: center;
    
    label {
        margin-right: 50%;  
    }

    input {
        width: 95%;
        @include input-box;
    }

    input[type=submit] {
        width: 96%;
    }
}