@import '../config/var';

.Input {
    text-align: center;
}

.Input label {
    margin-right: 50%;
}

.Input input {
    width: 95%;
    @include input-box
}

.Input input[type=submit] {
    width: 96%;
}